<kendo-appbar class="app-bar">
    <span class="spacer"></span> 

    <button 
        kendoButton 
        class="appbar-button" 
        [class.active-button]="currentRoute === '/memberRegistration'" 
        (click)="navigateTo('/memberRegistration')">
        Register
    </button>

    <button 
        kendoButton 
        class="appbar-button" 
        [class.active-button]="currentRoute === '/formConfiguration'" 
        (click)="navigateTo('/formConfiguration')">
        Configure
    </button>  
</kendo-appbar>
<router-outlet></router-outlet>
